nav {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav a{
    background-color: rgb(0, 140, 255);
    padding: 1rem;
    border-radius: 0.5rem;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    
    display: flex;
    justify-content: space-between;
    transition: 1s;

}
nav a:hover {
    width: 90%;
    padding: 3rem;
}